receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:
    send_batch_size: 10000
    send_batch_max_size: 11000
    timeout: 10s
  memory_limiter:
    check_interval: 1s
    limit_percentage: 75
    spike_limit_percentage: 25

exporters:
  nop:

extensions:
  health_check:
  zpages:
  pprof:

service:
  extensions: [health_check, zpages, pprof]
  pipelines:
    traces:
      receivers: [otlp]
      processors: [memory_limiter, batch]
      exporters: [nop]
    metrics:
      receivers: [otlp]
      processors: [memory_limiter, batch]
      exporters: [nop]
    logs:
      receivers: [otlp]
      processors: [memory_limiter, batch]
      exporters: [nop]
  telemetry:
    resource:
      service.name: nop-collector
      service.namespace: ollygarden
      service.version: 0.1.0
    logs:
      level: info
    metrics:
      level: detailed
