apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  # thyme-benchmark namespace resources
  - namespace.yaml
  - serviceaccount.yaml
  - thyme-configmap.yaml
  - nop-collector-configmap.yaml
  - thyme-daemonset.yaml
  - nop-collector-deployment.yaml
  - nop-collector-service.yaml
  - loggen-deployment.yaml
  - loggen-service.yaml
  # LGTM observability stack
  - lgtm-namespace.yaml
  - lgtm-prometheus-config.yaml
  - lgtm-deployment.yaml
  - lgtm-service.yaml

labels:
  - pairs:
      project: thyme-benchmark
