apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  # thyme-benchmark namespace resources
  - namespace.yaml
  - serviceaccount.yaml
  - thyme-configmap.yaml
  - nop-collector-configmap.yaml
  - thyme-daemonset.yaml
  - nop-collector-deployment.yaml
  - nop-collector-service.yaml
  - loggen-deployment.yaml
  # LGTM observability stack
  - lgtm-namespace.yaml
  - lgtm-deployment.yaml
  - lgtm-service.yaml

labels:
  - pairs:
      project: thyme-benchmark

# Override imagePullPolicy for local k3d development
patches:
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/imagePullPolicy
        value: Never
    target:
      kind: DaemonSet
      name: thyme
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/imagePullPolicy
        value: Never
    target:
      kind: Deployment
      name: nop-collector
