apiVersion: v1
kind: Service
metadata:
  name: nop-collector
  namespace: thyme-benchmark
  labels:
    app: nop-collector
    component: collector
spec:
  clusterIP: None
  ports:
    - name: otlp-grpc
      port: 4317
      targetPort: 4317
      protocol: TCP
    - name: otlp-http
      port: 4318
      targetPort: 4318
      protocol: TCP
    - name: zpages
      port: 55679
      targetPort: 55679
      protocol: TCP
    - name: pprof
      port: 1777
      targetPort: 1777
      protocol: TCP
  selector:
    app: nop-collector
    component: collector
